body{
    background-image: url('video2.PNG');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    width: 185px;
    height: 110px;
}

.nav-link{
    color: #E3A7C0!important;
    font-size: large!important;
    font-weight: bold!important;
}